<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
/*untuk line*/
h5{
    white-space: pre-line;
}
</style>
<body>
    <%- include('components/navbar') %> <br><br>
    <center>
                <!-- <a href="/recipes">LIST RECIPES</a> -->
        </nav>
        <h2> <%= result.name %> 
        </h2><br>
        <h3>Stock : <%= result.stock %>
        </h3><br>
        <h3>Price : <%= formatRupiah(result.price) %>
        </h3><br>
        
        </h5><br>
        <img src="<%= result.img %> " width="200" height="200"><br><br>
        <button>
            <a style="color: rgb(30, 63, 210);" href="">Buy 🛒</a>
        </button>
        <h1 style="color: rgb(42, 71, 165);">________________________________________________________________________________________</h1>
        <h3>Description :</h3>
        <h5>
            <%= result.description %>
        </h5><br>
        <br><br>
    </center>
</body>
</html>