<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <style>

        .header {
            width: 100vw;
            height: 5vh;
            align-items: on;
            background-color: black;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .content-container {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
        }

        .card {
            width: 20vw;
            height: 35vh;
            margin: 1% 1%;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            overflow: hidden;
        }

        .card .card-content {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        button {
            width: 100px;
            height: 30px;
        }

        .seeDetail-btn {
            background-color: green;
            border: none;
            border-radius: 5px;
        }

        .delete-btn {
            background-color: rgb(243, 56, 56);
            border: none;
            border-radius: 5px;
        }

        .Home-dan-Report>a {
            margin: 0 5%;
            color: white;
        }

        ._Name{
            width: 40%;
            height: 25px
        }

        #main-list table {
            margin-top: 10px;
            width: 100%;
        }

        #main-list table tr th {
            border-bottom: 5px solid black;
        }

        #main-list table tr td:first-child {
            width: 20%;
        }

        td {
            text-align: center;
            height: 30px;
            background-color: rgba(230, 230, 230, 0.356);
        }

        #main-list table tr td:last-child a:hover {
            background-color: white;
            transition: all 0.5s;
        }
    </style>
</head>
<body>
    <%- include("components/navbar") %> <br><br>
    <button class="seeDetail-btn"><a style="color: black;text-decoration: none;" href="/shoperRegister">BACK 🐱‍🏍</a></button> 
    <br><br>
    <center>
        <form method="get"> 
            <input class="_Name" type="text" name="name" placeholder="Search by Name Product">
            <button type="submit">🔍</button><br><br>
        </form><br>
        </center>
    <div id="main-list">
        <table>
            <tr>
                <th>Name</th>
                <th>Gambar Product</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <% results.forEach((el) => { %>
                <tr>
                    <td> <%= el.name %> </td>
                    <td> <img src="<%= el.img %> " width="130" height="130"> </td>
                    <td> <%= el.stock %> </td>
                    <td> <%= formatRupiah(el.price)  %> </td>
                    <td>
                        <button class="seeDetail-btn"><a style="color: black;text-decoration: none;" href="/shoper/<%= el.id %>/detail">Detail Product 🛒</a></button> 
                    </td>
                </tr>
            <% }); %>
            </table>
        </div><br><br>
</body>

</html>